@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1A1A2E;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    height: 100vh;
}

